<launch>
  <param name="/brown/rosbridge/hz" value="100"/>
  <node pkg="rosbridge" type="rosbridge.py" name="ros_bridge"/> 	
  <node pkg="phri_ros" name="cp_server" type="cp_server.py"/>
  <node pkg="phri_ros" name="speech" type="speech.py" output="screen"/>
  <node pkg="phri_ros" name="gpio" type="gpio.py"/>
  <node pkg="phri_ros" name="smach" type="state_machine.py"/>
  <node pkg="phri_ros" name="behavior" type="behavior.py"/>
</launch>
